# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Documents\Negative_sampling_main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
